{:aliases {:rebel {:extra-deps {com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                   :main-opts ["-m" "rebel-readline.main"]}}
           :graph {:deps {org.clojure/tools.deps.graph {:mvn/version "0.1.14"}}
                   :main-opts ["-m" "clojure.tools.deps.graph"]}}
