[Desktop Entry]
Type=Application
Exec=/usr/bin/chromium-browser
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Chromium
Name=Chromium
Comment[en_US]=
Comment=
