"*":
  editor:
    invisibles:
      {}
    fontSize: 15
    lineHeight: 1.4
  core:
    disabledPackages: [
      "welcome"
      "git-blame"
      "go-format"
      "go-oracle"
      "go-plus"
      "linter-jshint"
      "SFTP-deployment"
      "linter-jsxhint"
      "scope-inspector"
    ]
    audioBeep: false
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
  "exception-reporting":
    userId: "4b873c95-5c84-bae8-43b3-7ff01cd0be7c"
  metrics:
    userId: "b1e0d31cf3536bd0a9bb843d2cce91bb4fec9e38"
  tabs:
    {}
  emmet:
    {}
  autosave:
    enabled: true
  autoprefixer:
    {}
  "atom-color-highlight":
    {}
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    {}
  "linter-jshint":
    {}
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  react:
    {}
  "linter-js-standard":
    {}
  "tab-smart-sort":
    {}
  "linter-jsxhint":
    {}
  "linter-rubocop":
    rubocopExecutablePath: "/usr/bin/rubocop"
  "scope-inspector":
    userId: "86b0158bfbb54093f95ca277e6d432b546ac0ffb"
    showHoistingIndicators: false
    showSidebar: false
  goto:
    moreIgnoredNames: "node_modules"
