"*":
  editor:
    invisibles:
      {}
    lineHeight: 1.4
    fontFamily: "Fira Mono"
    fontSize: 17
  core:
    disabledPackages: [
      "welcome"
      "git-blame"
      "go-format"
      "go-oracle"
      "go-plus"
      "SFTP-deployment"
      "linter-jsxhint"
      "scope-inspector"
      "autocomplete-ruby"
      "linter-eslint"
      "linter-jshint"
    ]
    audioBeep: false
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  "exception-reporting":
    userId: "4b873c95-5c84-bae8-43b3-7ff01cd0be7c"
  metrics:
    userId: "b1e0d31cf3536bd0a9bb843d2cce91bb4fec9e38"
  tabs:
    {}
  emmet:
    {}
  autosave:
    enabled: true
  autoprefixer:
    {}
  "atom-color-highlight":
    {}
  "git-diff":
    showIconsInEditorGutter: true
  linter:
    {}
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "autocomplete-plus":
    includeCompletionsFromAllBuffers: true
  react:
    {}
  "linter-js-standard":
    {}
  "tab-smart-sort":
    {}
  "linter-jsxhint":
    {}
  "linter-rubocop":
    rubocopExecutablePath: "/Users/jorin/.rbenv/shims/rubocop"
    executablePath: "/Users/jorin/.rbenv/shims/rubocop"
  "scope-inspector":
    userId: "86b0158bfbb54093f95ca277e6d432b546ac0ffb"
    showHoistingIndicators: false
    showSidebar: false
  goto:
    moreIgnoredNames: "node_modules"
  "atom-ternjs":
    {}
  "atom-beautify":
    _analyticsUserId: "5a940c9e-f1fc-4565-88a2-415d77b8e9f3"
  "one-light-ui":
    {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-tidy":
    {}
  "linter-bootlint":
    {}
  "git-log":
    {}
  "ruby-test":
    {}
  "circle-ci":
    apiToken: "03f3628ecc0c11b78c279971c8c92f5c22ede163"
