"*":
  editor:
    invisibles: {}
    lineHeight: 1.4
    fontFamily: "Fira Mono"
    fontSize: 17
  core:
    disabledPackages: [
      "welcome"
      "git-blame"
      "go-format"
      "go-oracle"
      "go-plus"
      "SFTP-deployment"
      "linter-jsxhint"
      "scope-inspector"
      "autocomplete-ruby"
      "linter-eslint"
      "linter-jshint"
    ]
    audioBeep: false
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  autosave:
    enabled: true
  "git-diff":
    showIconsInEditorGutter: true
  "linter-rubocop":
    rubocopExecutablePath: "/Users/jorin/.rbenv/shims/rubocop"
    executablePath: "/Users/jorin/.rbenv/shims/rubocop"
  "exception-reporting":
    userId: "cc57abc6-2b4b-4b7c-6331-19d29f8636ae"
